<h1 style="color:darkred;"> * QUIZ * </h1>


<style>


div

{
text-align:center
}

</style>

<div>


    <form method="get" action="judgement/">
    <p> <h3>Q 1. 다음 중 성현우가 가장 좋아하는 브랜드는 ?</h3> </p>
    <label><input type="radio" name="first_question" value="Gucci">구찌</label>
    <label><input type="radio" name="first_question" value="YSL">생로랑</label>
    <label><input type="radio" name="first_question" value="LouisVuitton">루이비통</label>
    <label><input type="radio" name="first_question" value="Margiela">마르지엘라</label>
    
    <br>
    <br>
    <br>

        <p>
            <h3>Q 2. 성균관대학교 의상학과를 졸업한 디자이너는?</h3>
        </p>
        <label><input type="radio" name="sq" value="wooyoungmi">우영미</label>
        <label><input type="radio" name="sq" value="songzio">송지오</label>
        <label><input type="radio" name="sq" value="kim">앙드레김</label>

        <p><input type="submit" value="Submit">         <input type="reset" value="Reset"></p>
    </form>
</div>

